@model DemoHisaab2.Models.User_Details

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <h4>User Login</h4>
        <hr />

        <div class="form-group">
            @Html.Label("Email", "E-mail :-", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Password", "Password :- ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("Password", "", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                @Html.CheckBox("Remember", false, new { htmlAttributes = new { @class = "form-check-input" } })
                @Html.Label("Remember", "Remember Me ", htmlAttributes: new { @class = "form=check-label col-md-2" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p class="text-danger">@ViewBag.ErrMsg</p>
            </div>
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
