@model IEnumerable<DemoHisaab2.Models.Transaction>

@{
    ViewBag.Title = "ShowAccountTransaction";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>AccountTransaction</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreditAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebitAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreditAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DebitAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditTransaction", new { id = item.TransactionId, AccountName = ViewData["accname"] }) |
                @Html.ActionLink("Delete", "DeleteTransaction", new { id = item.TransactionId, AccountName = ViewData["accname"] })
             </td>
        </tr>
    }

</table>
